/**!
 * 丹阳门户网站-首页
 * author: xiaolong;
 * date: 20160714
 */

.content {
  margin: 0px auto;
  width: 960px;
  margin-top: 30px;
}

.header {
  margin: auto;
  background-color: #EFF0F1;
}

.header-top {
  background-color: #EFF0F1;
  overflow: hidden;
  margin: auto;
  width: 960px;
}

.header-top-left {
  float: left;
}

.header-top-right {
  float: right;
}

.sym-time {
  margin: auto;
}

.bgpic {
  float: left;
  height: 120px;
}

.bgpic>img {
  margin-top: 31px;
}

.city {
  width: 60px;
  height: 25px;
}

.city-sect {
  border: 1px solid;
  text-align: center;
  margin-top: 45px;
  background-color: white;
}

input {
  height: 30px;
  width: 200px;
  border-style: hidden;
}

.city-sect>img {
  vertical-align: middle;
}

.header-mid {
  background-color: #1666AD;
  overflow: hidden;
}

.mid-body {
  width: 960px;
  margin: auto;
  overflow: hidden;
}

.city-sect {
  float: right;
  text-align: center;
  line-height: 36px;
}

.header-footer {
  background-color: #2D80C2;
}

.footer-s {
  width: 960px;
  margin: auto;
}

.footer-s>span {
  background-color: #2D80C2;
  color: white;
  display: inline-block;
  margin: auto;
  width: 100px;
  text-align: center;
  height: 32px;
  line-height: 32px;
}

.footer-s>span:hover {
  background-color: #2072B6;
}

.last-news {
  float: right;
}

.last-news>span, .news-left>span, .news-right>span, .chart-left>span, .chart-right>span, .footer-left>span, .footer-right>span, .shref-right>span {
  color: #2072B6;
  font-size: 20px;
  border-bottom: solid 3px;
  display: inline-block;
}

hr {
  width: 440px;
  margin: 0px;
}

.news-left {
  display: inline-block;
  float: left;
}

.news-right {
  display: inline-block;
  color: black;
  float: right;
}

.bodyer {
  width: 960px;
}

.bodyer-sec {
  width: 960px;
  margin: auto;
}

.body-top {
  overflow: hidden;
}

.pics {
  float: left;
}

.body-mid {
  display: block;
  overflow: hidden;
  margin-top: 20px;
}

.body-footer {
  display: block;
  overflow: hidden;
  margin-top: 20px;
}

.chart-left {
  float: left;
}

.chart-right {
  float: right;
}

.pic-shref {
  overflow: hidden;
  width: 960px;
  margin: auto;
  margin-top: 20px;
}

.shref-left {
  float: left;
  background-color: #F8F8F8;
  display: inline-block;
}

.shref-left>div {
  color: #0048A4;
  font-size: 24px;
  width: 180px;
  height: 100px;
  background-color: #E9F3FA;
  display: inline-block;
  text-align: center;
  line-height: 100px;
}

.shref-right {
  float: right;
}

.phone-num {
  display: inline-block;
  /*height: 100px;*/
}

.num {
  color: #0048A4;
  font-size: 14px;
  width: 100px;
  height: 60px;
  background-color: #E9F3FA;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.footer {
  display: block;
  overflow: hidden;
  width: 960px;
  margin: auto;
  margin-top: 15px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.serve>div {
  display: inline-block;
  height: 120px;
  text-align: center;
  font-size: 14px;
}

.foot {
  background-color: #1666AD;
  margin: auto;
  height: 80px;
  text-align: center;
  line-height: 32px;
  margin-top: 20px;
}

.foot>span {
  font-size: 12px;
  color: white;
}

.carousel-item {
  width: 300px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.last-news,.news-right,.chart-right,.shref-right,.footer-right {
  width: 400px;
}
